@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


:root {
  --bg-dark-black-first: #1C1C1C;
  --bg-dark-black-second: #252525;
  --bg-dark-green-first: #1C6758;
  --bg-dark-green-second: #216d5e;
  --bg-dark-green-third: #186b5a;
  --bg-light-green-first: #3D8361;
  --bg-light-cream-first: #D6CDA4;
  --bg-light-first: rgb(243, 244, 241, 0.4);
}

body {
  box-sizing: content-box;
  background-color: var(--bg-dark-green-first);
  font-family: 'Poppins', sans-serif;
  color: var(--bg-dark-black-second);
}

.card_container{
  background-color: var(--bg-dark-green-first);
  border-radius: 10px;
  width:80%;
  margin: 0 auto;
  box-shadow: 0 0 12px 14px rgba(0, 255, 115, 0.05);
  border: 1px solid var(--bg-light-first);
  min-height:80vh;
}

.card{
  background-color: var(--bg-light-green-first) !important;
  box-shadow: 0 0 9px 6px rgba(2, 97, 24, 0.2);
  margin-top:20px;
  border: 1px solid var(--bg-light-first);
}

.status_title{
  color: var(--bg-dark-black-first);
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.kanban__items-input{
  padding: 10px 15px;
  box-sizing: border-box !important;
  background-color: var(--bg-light-cream-first);
  box-shadow: 0 0 4px px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor:pointer;
}

.kanban__dropzone{
  height: 10px;
  transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active{
  height: 20px;
  background: rgba(0, 0, 0, 0.25);
}

.add_items{
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  border:1px solid var(--bg-light-first);
  border-radius: 5px;
  padding:10px 0px;
  font-size: 16px;
  color: var(--bg-light-cream-first);
  background: rgba(0, 0, 0, 0.4);
}